<style type="text/css">
/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 0 10px;
    font-weight: lighter;
}

/* Title of the resume */
h1 {
    font-size: 55px;
    color: #5c6bc0;
    text-align:center;
    margin-bottom:10px;
    margin-top:0;
}

/* Titles of categories */
h2 {
    /* This is called "sectioncolor" in the ConTeXt stylesheet. */
    color: #5c6bc0;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    /* This is called "rulecolor" in the ConTeXt stylesheet. */
    background-color: #311b92;
}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
    overflow-wrap: break-word;
}

strong {
}

dd {
    margin-left: 17%;
    margin-bottom: .5rem;
}
p:nth-child(odd) {
    margin-top:0;
    margin-bottom:10px;
}

p:nth-child(even) {
    margin-top:2rem;
    margin-bottom:10px;
}

/* Blockquotes */
blockquote {
    text-align: center;
    margin: 2rem;
}

/* Links */
a {
    text-decoration: none;
    color: #455a64;
}

blockquote {
    font-weight: lighter;
    color: #37474f;
}

table {
    color: #607d8b;
    width: 100%;
}

em {
    color: #607d8b;
}
</style>
